.header{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}



ul{
    list-style-type: none;
    display: flex;
}
ul li{
    margin:1em;
    font-size: large;
}
li a{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.titlePage{
    font-family: sans-serif;
    font-weight:100;
    letter-spacing: 10px;
  }
@media (max-width: 480px) {
    ul{
        display: none;
    }
    li a{
        font-weight: 100;
        font-family: sans-serif;
    }
    .title{
        font-family: sans-serif;
        font-weight:100;
        letter-spacing: 2px;
        font-size: 35px;
    }
    .header{
        text-align: center;
        display:flex;
        justify-content: space-between;
        padding-left: 1em;
        position: fixed;
        padding-right: 1em;
        top: 0;
        left: 0;
        right: 0;
    }
}