.homePanel{
    margin-top: 13%;
    border-radius: 2em;
    letter-spacing: 2px;
    width:100vw;
}



.a{
    line-height: 200px;
    padding: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 30px;
    background-color: #9A8C98;
    font-weight: 500;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}


.homePanel h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}
.homePanel h2{
    margin-top:0;
    font-size:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 1em;
    margin-left: 1em;
}

.homePanel span{
    font-weight: 100;
    font-size: 50px;
    margin-top: 0;
}






@media (max-width: 480px) {
    .homePanel{
        margin-top: 70%;
        
    }
    
    .homePanel h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        font-size: 30px;
    }
    .homePanel h2{
        font-size:25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        margin-right: 3em;
        margin-left: 3em;
    }
    .homePanel div{
        margin-top: 1em;
    }

    .homePanel span{
        font-weight: 100;
        font-size: 15px;
        margin-top: 0;
    }

}